streamlit==1.28.1
streamlit-aggrid==0.3.4
streamlit-option-menu==0.3.6
pandas==2.1.4
matplotlib==3.8.2
seaborn==0.13.0
plotly==5.17.0
Pillow==10.1.0
wordcloud==1.9.3
numpy==1.24.4
scipy==1.11.4
